{{ _global_frontmatter.fenced }}

{% if vspace_fill %}

\vspace*{\fill}

{% endif %}

{{ content }}

{{ signature }}{% if vspace_fill %}

\vspace*{\fill}

{% endif %}

{% if references %}
# References

<div class="multi-refs"></div>
{% endif %}
