# Template

This is a jinja template. You can write plain markdown text into the template like this.

## YAML data

You can also refer to variables in the yaml files, using syntax like this:

{% raw %}
{{ number_of_things }} 
{{ name_of_person }}
{% endraw %}

Which renders like this:

{{ number_of_things }} 
{{ name_of_person }}

## Markdown data

You can refer to *content* in the markdown data with the `.content` attribute, using the name you put in the config file {% raw %}{{ some_text_data.content }}{% endraw %}, which renders like this::

```
{{ some_text_data.content }}
```


You can also refer to the yaml metadata in your markdown files, using {% raw %}{{ some_text_data.metadata.text_property }}{% endraw %}:

```
{{ some_text_data.metadata.text_property }}
```
